/* reset */

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* superinfo */
.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: white;
}

/* header */

.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu ul a:hover {
  color: #122ab2;
}

.menu ul a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}
