/* reset */

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: white;
}
