/* reset */

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* superinfo */
.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: white;
}

/* header */

.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu ul a:hover {
  color: #122ab2;
}

.menu ul a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

/* introducao */

.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/* sobre */

.sobre {
  border-bottom: 2px solid #2c70ff;
  border-top: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}
